<form method="post" action="{{ path('app_actualite_delete', {'id': actualite.id}) }}" onsubmit="return confirm('Vous êtes sur de vouloir supprimer cette actualité?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ actualite.id) }}">
    <button class="btn"><i class="fa-solid fa-trash"></i>Supprimer</button>
</form>
