// relativeUrls: true;
@import '../../variable.less';

/////////////////////CARTE DESCRIPTIVE//////////////////////////

#container_carte {

    display: flex;
    flex-direction: column;
    width: 28%;
    //border: solid 2px rgb(255, 0, 0);


    .carte {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: @bgd_bgr_w;
        padding: 20px 35px 20px 35px;
        width: 100%;
        // border: solid 2px rgb(38, 0, 255);

        h1 {
            font-weight: 200;
            color: @clr-pol4;
            text-transform: uppercase;
            margin: 10px 0px 0px 0px;
            width: inherit;
            font-size: clamp(0.625rem, 2.4886rem, 3rem);

        }

        h1>span {
            font-family: @fontP;
            font-style: oblique;
            text-transform: none;

        }

        p>span {
            color: @bgd_btn1;
            font-weight: 600;

        }


        //à faire en mixin
        a {
            border-radius: 9px;
            text-align: center;
            list-style: none;
            margin: 10px 0px 7px 0px;
            padding: 15px 0px;
            width: 80%;
            
        }

        //à faire en mixin
        .btn {
            background-color: @bgd_bgr1;
            font-weight: bold;
            font-size: 1rem;
            color: #ffffff;
            transition: @trt;

            &:hover {
                color: (@bgd_btn3);
            }
        }


        .logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 35px 0px 35px 0px;
            width: 100%;

            figure {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border: solid 2px @bgd_btn3;
                border-radius: 50%;
                margin: 0px 10px 0px 10px;
                width: 46px;
                height: 45px;


                i {
                    font-size: 1.7rem;

                }
            }
        }
    }
}