#container_carte {
  display: flex;
  flex-direction: column;
  width: 28%;
}
#container_carte .carte {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffffff;
  padding: 20px 35px 20px 35px;
  width: 100%;
}
#container_carte .carte h1 {
  font-weight: 200;
  color: #333333;
  text-transform: uppercase;
  margin: 10px 0px 0px 0px;
  width: inherit;
  font-size: clamp(0.625rem, 2.4886rem, 3rem);
}
#container_carte .carte h1 > span {
  font-family: 'Playfair Display', serif;
  font-style: oblique;
  text-transform: none;
}
#container_carte .carte p > span {
  color: #0BAA9F;
  font-weight: 600;
}
#container_carte .carte a {
  border-radius: 9px;
  text-align: center;
  list-style: none;
  margin: 10px 0px 7px 0px;
  padding: 15px 0px;
  width: 80%;
}
#container_carte .carte .btn {
  background-color: #1F2547;
  font-weight: bold;
  font-size: 1rem;
  color: #ffffff;
  transition: 0.4s;
}
#container_carte .carte .btn:hover {
  color: #F2BF2C;
}
#container_carte .carte .logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 35px 0px 35px 0px;
  width: 100%;
}
#container_carte .carte .logo figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 2px #F2BF2C;
  border-radius: 50%;
  margin: 10px;
  width: 46px;
  height: 45px;
}
#container_carte .carte .logo figure i {
  font-size: 1.7rem;
}
