// relativeUrls: true;
@import '../../variable.less';

//////////////////HEADER//////////////////






header {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    width: 20%;
    height: 100vh;
    background-color: white;

    #containerTop {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: @bgd_bgr1;
        height: 40vh;


        h1 {
            width: 100%;
            font-weight: 200;
            letter-spacing: 1px;
            color: #ffffff;
            text-transform: uppercase;
            font-size: clamp(1.20rem, calc(0.96rem + 0.5vw), 1.56rem);
        }

        h1>span {
            font-family: @fontP;
            font-style: oblique;
            text-transform: none;
        }



        .btn {
            width: clamp(10.63rem, calc(9.8rem + 4.15vw), 12.75rem);
            background-color: @clr-btn1;
            padding: 15px 0px;
            border-radius: 5px;
            font-weight: bold;
            font-size: 1rem;
            color: #ffffff;
            transition: @trt;

            &:hover {
                color: (@bgd_bgr3);
            }
        }


        figure {
            display: flex;
            justify-content: center;
            width: 150px;
            height: 150px;
            

            img {

                border-radius: 50%;
            }
        }
    }

    #containerBottom {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 60vh;
        flex-direction: column;
        font-weight: 200;
        color: #ffffff;
        text-align: left;
        background-color: @bgd_bgr2;



        ul {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            li{

                &:hover {
                    background-color: @bgd_bgr1-hvr;
                }

            a {
                padding: 15px 20px;
                width: 250px;
                margin: auto;
                font-weight: 200;
                color: #ffffff;
                font-size:   clamp(0.88rem, calc(0.85rem + 0.13vw), 1rem);
                white-space: nowrap;
                display: block;


            }

        }

        }

            figure {
                //display: flex;
                //align-items: center;
                //justify-content: center;
                //width: clamp(4.38rem, calc(3.5rem + 4.38vw), 8.75rem);
                width: clamp(4.38rem, calc(3rem + 6.88vw), 11.25rem);
                overflow: hidden;

                
                
            }
        
    }
}