#container_bandeau {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 93%;
  height: 33%;
}
#container_bandeau figure {
  display: flex;
  justify-content: center;
  height: 70%;
  border-bottom: solid 5px #F2BF2C;
  background-color: #ffffff;
}
#container_bandeau figure img {
  width: 100%;
}
#container_bandeau #Conteneur_Logo_Usr {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 55%;
  border-style: inset;
  border: solid 10px white;
  right: 43.5%;
  top: 134px;
  border: solid 10px #eee;
  border-radius: 50%;
}
#container_bandeau #Conteneur_Logo_Usr img {
  height: 100%;
  border-radius: 50%;
}
