// relativeUrls: true;
@import '../../variable.less';

/////////////////////LEADERBOARD//////////////////////////

#container_bandeau {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

    figure {
        display: flex;
        justify-content: center;
        height: 220px;
        width: 100%;
        border-bottom: solid 5px @bgd_btn3;
        img {
            border: solid 1px black;
        }
    }


    #Conteneur_Logo_Usr {
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        bottom: -70px;
        width: 140px;
        height: 140px;
        border-bottom: solid #dfdfdf00;
        img {
            border-radius: 50%;
            border: solid 10px white;
        }


    }



}



