#container_posts {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  padding: 25px 0px;
}
#container_posts h1 {
  font-size: clamp(0.625rem, 2.8586rem, 3rem);
  letter-spacing: 1px;
  margin: 39px 0px;
}
#container_posts h1 > span {
  font-weight: 200;
}
#container_posts .posts {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #ffffff;
  height: 35%;
  width: 98%;
  filter: drop-shadow(3px 8px 5px rgba(0, 0, 0, 0.171));
  margin: 16px 0px;
  padding: 30px;
}
#container_posts .posts figure {
  width: 35%;
}
#container_posts .posts figure img {
  border-radius: 50%;
}
#container_posts .posts .contenues {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 35px;
}
#container_posts .posts .contenues p > span {
  font-weight: 200;
}
#container_posts .posts .contenues h3 {
  letter-spacing: 2px;
  font-weight: 200;
  text-transform: uppercase;
}
#container_posts .posts .contenues h3 > span {
  font-weight: 200;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  text-transform: none;
}
#container_posts .posts .contenues .colorP {
  color: #0BAA9F;
  font-size: 0.9rem;
  text-transform: none;
}
#container_posts .posts .contenues i {
  color: #314090;
  font-weight: 500;
}
#container_posts .posts .contenues a {
  margin: 0px 30px 0px 8px ;
  color: #314090;
  font-weight: 600;
}
