#container_posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  justify-content: center;
  padding: 25px 0px;
}
#container_posts h1 {
  font-size: clamp(0.625rem, 2.2rem, 3rem);
  letter-spacing: 1px;
  margin: 22px 0px;
  width: -webkit-fill-available;
}
#container_posts h1 > span {
  font-weight: 200;
}
#container_posts .posts {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 98%;
  padding: 35px;
  margin: 16px 0px;
  background-color: #ffffff;
  filter: drop-shadow(3px 8px 5px rgba(0, 0, 0, 0.171));
}
#container_posts .posts figure {
  width: 20%;
}
#container_posts .posts figure img {
  border-radius: 50%;
}
#container_posts .posts .contenues {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: -webkit-fill-available;
  margin-left: 35px;
}
#container_posts .posts .contenues #contenues_img {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 10px 0px;
}
#container_posts .posts .contenues #contenues_img img {
  width: 30%;
  margin: 5px 10px 5px 0px;
}
#container_posts .posts .contenues p > span {
  font-weight: 200;
}
#container_posts .posts .contenues h3 {
  letter-spacing: 2px;
  font-weight: 200;
  text-transform: uppercase;
  margin: 0px 0px;
}
#container_posts .posts .contenues h3 > span {
  font-weight: 200;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  text-transform: none;
}
#container_posts .posts .contenues .colorP {
  color: #0BAA9F;
  font-size: 0.75rem;
  text-transform: none;
}
#container_posts .posts .contenues .comments {
  margin: 15px 0px 0px 0px;
}
#container_posts .posts .contenues .comments i {
  color: #314090;
  font-weight: 500;
}
#container_posts .posts .contenues .comments a {
  margin: 0px 30px 0px 8px;
  color: #314090;
  font-weight: 600;
  font-size: small;
}
