{% extends 'admin_base.html.twig' %}

{% block title %}Modification de l'utilisateur{% endblock %}

{% block body %}

<section>

    <div class="titleBurger">
        <i class="fa-solid fa-bars" onClick="openMenu2()" id="burger2"></i>
        <h1>Modification de l'utilisateur</h1>
    </div>


        {{ include('admin/user/_form.html.twig', {'button_label': 'Modifier'}) }}
        


    <a href="{{ path('app_user_index') }}">Retour à la liste</a>

    

</section>
{% endblock %}
