{% extends 'base.html.twig' %}

{% block title %}Modification de l'utilisateur{% endblock %}

{% block body %}

<section>

    <h1>Modification de l'utilisateur</h1>


        {{ include('admin/user/_form.html.twig', {'button_label': 'Modifier'}) }}
        


    <a href="{{ path('app_user_index') }}">Retour à la liste</a>

    

</section>
{% endblock %}
