<form method="post" action="{{ path('app_chocolaterie_delete', {'id': chocolaterie.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chocolaterie.id) }}">
    <button class="btn"><i class="fa-solid fa-trash"></i>Supprimer</button>
</form>
