{% extends 'base.html.twig' %}

{% block title %}New Chocolaterie{% endblock %}

{% block body %}
    <h1>Create new Chocolaterie</h1>

    {{ include('admin/chocolaterie/_form.html.twig') }}

    <a href="{{ path('app_chocolaterie_index') }}">back to list</a>
{% endblock %}
