{% extends 'base.html.twig' %}

{% block title %}Nouvelle chocolaterie{% endblock %}

{% block body %}

<section>

    <h1>Ajouter une nouvelle chocolaterie</h1>

    {{ include('admin/chocolaterie/_form.html.twig') }}

    <a href="{{ path('app_chocolaterie_index') }}">Retour à la liste</a>

</section>
{% endblock %}
