/////////////////////CHARGE LE MODULE VARIABLES///////////////////////////
// relativeUrls: true;
@import '../../variable.less';

/* ---------- */
/* Responsive */
/* ---------- */

/* Ordinateur */

@media (max-width: 3860px) {}

@media (max-width: 1470px) {
    #container_carte h1{
        font-size: 1.8em !important;
    }
}

@media (max-width: 1200px) {

    .container_command{
        padding: 35px;
    }

    #container_general{

        flex-wrap: wrap;
        margin-top: 50px;

        #container_btn{
            width: 100%;
            order: 1;
            flex-direction: row;
            margin: 45px 0;
            justify-content: space-between;
            align-items: center;

            a{
                max-width: 220px;
                white-space: nowrap;
                &:nth-of-type(2){
                    margin: 0 20px;
                }
            }
        }

        #allPosts{
            order: 3;
            width: 100%;
            padding: 0;

            h1{
                margin: 0;
            }
        }

        #container_carte{
            order: 2;
            width: 100%;
        }

    }
}

/* Tablette */

@media (max-width: 1024px) {

    #allPosts{
        width: 100% !important;
    }


       //CONTAINER BANDEAU TOP,CARTE DESCRIPTIVE, POSTS, BOUTONS// 
    
       .container_command {
        overflow-y: visible;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: unset;
        margin-left: unset;

        /////////////////////CHARGE LE MODULE LEADERBOARD/////////////////////
        //@import '../éléments/leaderboard.less';

        #container_bandeau {
            width: 100%;
            height: 33%;


            #Conteneur_Logo_Usr {
                bottom: -45px;
                width: 90px;
                height: 90px;
            }

        }
            //CONTAINER CARTE DESCRIPTIVE, POSTS, BOUTONS// 

            #container_general {
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 35px;
                margin-top: unset;
    

                /////////////////////CHARGE LE MODULE CARTE DESCRIPTIVE/////////////
                //@import '../éléments/carte_desc.less';
                #container_carte {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    margin: 25px 0px;


                    .carte {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding: 20px 20px 20px 20px;
                        width: 100%;
                        background-color: @bgd_bgr_w;
                        border-bottom: solid 2px @bgd_btn3;

                        h1 {
                            font-weight: 200;
                            color: @clr-pol4;
                            text-transform: uppercase;
                            margin: 0px 0px 0px 0px;
                            font-size: clamp(0.625rem, 1.0886rem, 3rem);
                        }

                        h1>span {
                            font-family: @fontP;
                            font-style: oblique;
                            text-transform: none;
                        }
                        

                        p>span {
                            color: @bgd_btn1;
                            font-weight: 600;
                        }

                        .logo {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            margin: 35px 0px 35px 0px;
                            width: 100%;

                            figure {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                border: solid 3px @bgd_btn3;
                                border-radius: 50%;
                                margin: 0px 10px 0px 10px;
                                width: 53px;
                                height: 40px;

                                i {
                                    font-size: 1.2rem;

                                }
                            }
                        }
                    }
                }

                /////////////////////CHARGE LE MODULE POST//////////////////////////
                //@import '../éléments/post.less';
                #container_posts {
                    padding: 0;
                    margin: 10px 0px;
                    width: 100%;


                    h1 {
                        margin: 0px 0px;
                        font-size: clamp(0.625rem, 1.1586rem, 3rem);
                    }

                    .posts {
                        flex-direction: column;
                        align-content: center;
                        justify-content: center;
                        width: 100%;
                        padding: 17px;
                        margin: 16px 0px;
                        filter: drop-shadow(3px 8px 5px rgba(0, 0, 0, 0.171));

                        figure {
                    

                            img {
                                border-radius: 50%;
                            }
                        }

                        .contenues {
                            display: flex;
                            flex-direction: column;
                            text-align: left;
                            width: -webkit-fill-available;
                            margin: 10px 0px;


                            #contenues_img {
                                display: flex;
                                flex-direction: row;
                                justify-content: flex-start;
                                flex-wrap: wrap;
                                margin: 10px 0px;


                                img {
                                    width: 40%;
                                    margin: 5px 10px 5px 0px;
                                }
                            }

                            p>span {
                                font-weight: 200;
                            }


                            h3 {

                                margin: 0px;
                                text-align: left;
                                font-weight: 200;
                                text-transform: uppercase;
                                letter-spacing: 2px;
                                font-size: 20px;
                            }

                            h3>span {

                                font-family: @fontP;
                                font-weight: 200;
                                font-style: italic;
                                text-transform: none;
                            }

                            .colorP {
                                font-size: 0.7rem;
                                color: @clr-btn1;
                                text-transform: none;
                            }

                            .comments {

                                margin: 15px 0px 0px 0px;

                                i {
                                    font-size: small;
                                    color: #314090;
                                }

                                a {
                                    margin: 0px 30px 0px 0px;
                                    font-size: 0.8rem;
                                    font-weight: 600;
                                    color: #314090;
                                }
                            }
                        }
                    }
                }

                /////////////////////CHARGE LE MODULE BOUTONS///////////////////////
                //@import '../éléments/btn.less';

                #container_btn {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 70%;
                    margin: 30px 0 0 0 !important;

                    span>a {
                        background-color: @bgd_btn1;

                    }

                    a {
                        border-radius: 9px;
                        text-align: center;
                        list-style: none;
                        background-color: @bgd_bgr1;
                        margin: 10px 0px 7px 0px;
                        padding: 15px 15px;
                        width: 100%;
                    }

                    .btn {
                        font-size: 1rem;
                        background-color: @bgd_bgr1;
                        font-weight: bold;
                        color: #ffffff;
                        transition: @trt;

                        &:hover {
                            color: (@bgd_btn3);
                        }
                    }

                    .btn2 {
                        font-size: 1rem;
                        background-color: @bgd_btn1;
                        font-weight: bold;
                        color: @clr-pol2;
                        transition: @trt;

                        &:hover {
                            color: (@bgd_btn2);
                        }
                    }

                }


            }
        }

        .activeHead{
            margin-top: 0 !important;
        }
}

@media (max-width: 768px) {

    #container_general{
        padding: 20px !important;
    }
}

/* Mobile */

@media (max-width: 656px) {

    .etiquette{
        font-size: 0.7rem !important;
    }
 
    }

    @media (max-width: 300px) {}