/* ---------- */
/* Responsive */
/* ---------- */
/* Ordinateur */
@media (max-width: 1470px) {
  #container_carte h1 {
    font-size: 1.8em !important;
  }
}
@media (max-width: 1200px) {
  .container_command {
    padding: 35px;
  }
  #container_general {
    flex-wrap: wrap;
    margin-top: 50px;
  }
  #container_general #container_btn {
    width: 100%;
    order: 1;
    flex-direction: row;
    margin: 45px 0;
    justify-content: space-between;
    align-items: center;
  }
  #container_general #container_btn a {
    max-width: 220px;
    white-space: nowrap;
  }
  #container_general #container_btn a:nth-of-type(2) {
    margin: 0 20px;
  }
  #container_general #allPosts {
    order: 3;
    width: 100%;
    padding: 0;
  }
  #container_general #allPosts h1 {
    margin: 0;
  }
  #container_general #container_carte {
    order: 2;
    width: 100%;
  }
}
/* Tablette */
@media (max-width: 1024px) {
  #allPosts {
    width: 100% !important;
  }
  .container_command {
    overflow-y: visible;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: unset;
    margin-left: unset;
  }
  .container_command #container_bandeau {
    width: 100%;
    height: 33%;
  }
  .container_command #container_bandeau #Conteneur_Logo_Usr {
    bottom: -45px;
    width: 90px;
    height: 90px;
  }
  .container_command #container_general {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 35px;
    margin-top: unset;
  }
  .container_command #container_general #container_carte {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 25px 0px;
  }
  .container_command #container_general #container_carte .carte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    width: 100%;
    background-color: #ffffff;
    border-bottom: solid 2px #F2BF2C;
  }
  .container_command #container_general #container_carte .carte h1 {
    font-weight: 200;
    color: #333333;
    text-transform: uppercase;
    margin: 0px 0px 0px 0px;
    font-size: clamp(0.625rem, 1.0886rem, 3rem);
  }
  .container_command #container_general #container_carte .carte h1 > span {
    font-family: 'Playfair Display', serif;
    font-style: oblique;
    text-transform: none;
  }
  .container_command #container_general #container_carte .carte p > span {
    color: #0BAA9F;
    font-weight: 600;
  }
  .container_command #container_general #container_carte .carte .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 35px 0px 35px 0px;
    width: 100%;
  }
  .container_command #container_general #container_carte .carte .logo figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 3px #F2BF2C;
    border-radius: 50%;
    margin: 0px 10px 0px 10px;
    width: 53px;
    height: 40px;
  }
  .container_command #container_general #container_carte .carte .logo figure i {
    font-size: 1.2rem;
  }
  .container_command #container_general #container_posts {
    padding: 0;
    margin: 10px 0px;
    width: 100%;
  }
  .container_command #container_general #container_posts h1 {
    margin: 0px 0px;
    font-size: clamp(0.625rem, 1.1586rem, 3rem);
  }
  .container_command #container_general #container_posts .posts {
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    padding: 17px;
    margin: 16px 0px;
    filter: drop-shadow(3px 8px 5px rgba(0, 0, 0, 0.171));
  }
  .container_command #container_general #container_posts .posts figure img {
    border-radius: 50%;
  }
  .container_command #container_general #container_posts .posts .contenues {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: -webkit-fill-available;
    margin: 10px 0px;
  }
  .container_command #container_general #container_posts .posts .contenues #contenues_img {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 10px 0px;
  }
  .container_command #container_general #container_posts .posts .contenues #contenues_img img {
    width: 40%;
    margin: 5px 10px 5px 0px;
  }
  .container_command #container_general #container_posts .posts .contenues p > span {
    font-weight: 200;
  }
  .container_command #container_general #container_posts .posts .contenues h3 {
    margin: 0px;
    text-align: left;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
  }
  .container_command #container_general #container_posts .posts .contenues h3 > span {
    font-family: 'Playfair Display', serif;
    font-weight: 200;
    font-style: italic;
    text-transform: none;
  }
  .container_command #container_general #container_posts .posts .contenues .colorP {
    font-size: 0.7rem;
    color: #0BAA9F;
    text-transform: none;
  }
  .container_command #container_general #container_posts .posts .contenues .comments {
    margin: 15px 0px 0px 0px;
  }
  .container_command #container_general #container_posts .posts .contenues .comments i {
    font-size: small;
    color: #314090;
  }
  .container_command #container_general #container_posts .posts .contenues .comments a {
    margin: 0px 30px 0px 0px;
    font-size: 0.8rem;
    font-weight: 600;
    color: #314090;
  }
  .container_command #container_general #container_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: 30px 0 0 0 !important;
  }
  .container_command #container_general #container_btn span > a {
    background-color: #0BAA9F;
  }
  .container_command #container_general #container_btn a {
    border-radius: 9px;
    text-align: center;
    list-style: none;
    background-color: #1F2547;
    margin: 10px 0px 7px 0px;
    padding: 15px 15px;
    width: 100%;
  }
  .container_command #container_general #container_btn .btn {
    font-size: 1rem;
    background-color: #1F2547;
    font-weight: bold;
    color: #ffffff;
    transition: 0.4s;
  }
  .container_command #container_general #container_btn .btn:hover {
    color: #F2BF2C;
  }
  .container_command #container_general #container_btn .btn2 {
    font-size: 1rem;
    background-color: #0BAA9F;
    font-weight: bold;
    color: #D9D9D9;
    transition: 0.4s;
  }
  .container_command #container_general #container_btn .btn2:hover {
    color: #191E39;
  }
  .activeHead {
    margin-top: 0 !important;
  }
}
@media (max-width: 768px) {
  #container_general {
    padding: 20px !important;
  }
}
/* Mobile */
@media (max-width: 656px) {
  .etiquette {
    font-size: 0.7rem !important;
  }
}
