/////////////////////CHARGE LE MODULE VARIABLES///////////////////////////
// relativeUrls: true;
@import '../../variable.less';


/////////////////////CHARGE LE MODULE LEADERBOARD/////////////////////
@import '../modules/leaderboard.less';


//////CONTAINER CARTE DESCRIPTIVE, POSTS, BOUTONS///// 


#container_general {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    margin-top: 80px;
 
    /////////////////////CHARGE LE MODULE CARTE DESCRIPTIVE/////////////
    @import '../modules/carte_desc.less';


    /////////////////////CHARGE LE MODULE POST//////////////////////////
    @import '../modules/post.less';


    /////////////////////CHARGE LE MODULE BOUTONS///////////////////////
    @import '../modules/btn.less';

    #allPosts{
        padding: 0 30px;
        width: 55%;
    }
}

//Box Post
#newPost{
    background-color: #EFEFEF;
    max-height: 0;
    transition: 0.7s;
    position: relative;
    padding: unset;
    overflow: hidden;

    h3{
        margin-bottom: 15px;
    }

    #post{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        div:first-of-type{
            width: 100%;
        }
    }

    input{
        border: none;
    }
    
    form{
        opacity: 0;
    }

    #postScroll{
        opacity: 0;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    textarea {
        .ZoneDeTexte();
    }

    #post_image_post{
        color: transparent;
    }

        textarea::placeholder{
            color: #141414;
        
        }
}

 #post_Publier {

    .BouttonCP();
        }

.active{
    max-height: 1000px !important;
    padding: 30px !important;

    form{
        opacity: 1 !important;
    }

    #postScroll{
        opacity: 1 !important;
    }
}