/////////////////////CHARGE LE MODULE VARIABLES///////////////////////////
// relativeUrls: true;
@import '../../variable.less';


/////////////////////CHARGE LE MODULE LEADERBOARD/////////////////////
@import '../modules/leaderboard.less';


//////CONTAINER CARTE DESCRIPTIVE, POSTS, BOUTONS///// 


#container_general {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 93%;
 
    /////////////////////CHARGE LE MODULE CARTE DESCRIPTIVE/////////////
    @import '../modules/carte_desc.less';


    /////////////////////CHARGE LE MODULE POST//////////////////////////
    @import '../modules/post.less';


    /////////////////////CHARGE LE MODULE BOUTONS///////////////////////
    @import '../modules/btn.less';


}