/////////////////////CHARGE LE MODULE VARIABLES///////////////////////////
// relativeUrls: true;
@import '../../variable.less';


/////////////////////CHARGE LE MODULE LEADERBOARD/////////////////////
@import '../modules/leaderboard.less';


//////CONTAINER CARTE DESCRIPTIVE, POSTS, BOUTONS///// 
/*h1 {

        font-size: clamp(0.625rem, 2.2rem, 3rem);
        letter-spacing: 1px;
        margin: 0px 0px;
        width: 100%;
        text-align: center;
        color: @clr-pol4;
    }

    h1>span {

        font-weight: 200;


    }*/

#container_general {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    width: 93%;
    //border: solid 2px black;


    
    /////////////////////CHARGE LE MODULE CARTE DESCRIPTIVE/////////////
    @import '../modules/carte_desc.less';


    /////////////////////CHARGE LE MODULE POST//////////////////////////
    @import '../modules/post.less';


    /////////////////////CHARGE LE MODULE BOUTONS///////////////////////
    @import '../modules/btn.less';





}