section {
  text-align: center;
  padding: 50px;
}
section h1 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 2em;
  font-weight: 300;
}
section table {
  margin: 35px auto;
  box-shadow: 0px 0px 50px silver;
  border-collapse: collapse;
  text-align: left;
}
section table thead {
  background-color: #FFD867;
}
section table thead th {
  padding: 30px 45px 11px 38px;
}
section table th,
section table td {
  padding: 25px 40px;
}
section table tr {
  border-bottom: 1px solid #c0c0c054;
}
section table tr td:last-of-type {
  display: flex;
  justify-content: space-between;
  width: 350px;
  align-items: center;
}
section table .btn {
  padding: 10px;
  color: white;
  width: 110px;
  display: flex;
  justify-content: space-between;
  background-color: #C5122D;
}
section table a:not(button a) {
  font-size: 1.2em;
  transition: 0.2s;
}
section table a:not(button a):hover {
  transform: rotate(180deg);
  color: #C5122D;
}
section table button {
  border: none;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 5px;
}
section table button a {
  padding: 10px;
  width: 110px;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  color: white;
}
section table button:hover {
  transform: scale(0.95);
}
section table button:nth-of-type(1):not(.btn) {
  background-color: #1F2547;
}
section .btn-add {
  padding: 10px;
  margin-top: 35px;
  border-radius: 10px;
  background-color: #FFD867;
  transition: 0.2s;
}
section .btn-add:hover {
  transform: scale(1.05);
}
section #burger2 {
  display: none;
}
header {
  position: relative;
}
