body {
  background: url("/img/logos/connexion-fond.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
img {
  width: 125px;
  height: 125px;
  margin: 28px 0px;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
h5 {
  text-align: center;
  color: #0BAA9F;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}
h1 {
  text-align: center;
  color: #0BAA9F;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 2.1rem;
  line-height: 30px;
}
h1 > span {
  font-style: oblique;
  font-family: 'Playfair Display', serif;
}
.flexForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 30px;
}
input {
  width: 245px;
  height: 40px;
  color: #D9D9D9;
  background: #111425;
  border: 1px solid #0BAA9F;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
}
::placeholder {
  color: #D9D9D9;
  padding: 15px;
}
.btn {
  width: 155px;
  height: 40px;
  background: #0BAA9F;
  color: #000000;
  border: 0.5px solid #211D1D;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-size: small;
  font-weight: 500;
  margin-top: 10px;
}
:hover {
  color: #054a45;
}
label {
  font-family: 'Montserrat', sans-serif;
  color: #0BAA9F;
  font-size: 0.8rem;
  margin-top: 10px;
}
label > input {
  width: 10px;
  height: 10px ;
}
.error {
  color: #ff2323;
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
}
.bjr {
  color: #D9D9D9;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
}
