/* ---------- */
/* Responsive */
/* ---------- */
/* Ordinateur */
@media (max-width: 1250px) {
  .container_command {
    flex-direction: column;
  }
  #act,
  #post {
    width: 100% !important;
    margin: 20px auto;
  }
  #act {
    flex-direction: row !important;
    flex-wrap: wrap;
  }
  #act h2 {
    width: 100%;
  }
  #act a {
    width: 48%;
  }
}
/* Tablette */
/* Mobile */
@media (max-width: 656px) {
  #gridPost {
    display: flex !important;
    flex-direction: column;
  }
  #post {
    height: unset !important;
  }
  #act a {
    width: 100% !important;
  }
}
