/////////////////////CHARGE LE MODULE VARIABLES///////////////////////////
// relativeUrls: true;
@import '../../variable.less';

/* ---------- */
/* Responsive */
/* ---------- */

/* Ordinateur */

@media (max-width: 3860px) {}

@media (max-width: 1600px) {}

@media (max-width: 1250px) {
    .container_command{
        flex-direction: column;
        padding: 50px 10px;
    }

    #act, #post{
        width: 100% !important;
        margin: 20px auto;
    }

    #act{
        flex-direction: row !important;
        flex-wrap: wrap;
        h2{
            width: 100%;
        }
        a{
            width: 48%;
        }
    }
}

/* Tablette */

@media (max-width: 1024px) {}

@media (max-width: 768px) {


    #act{

        height: auto !important;
}

}

/* Mobile */

@media (max-width: 656px) {
    #gridPost{
        display: flex !important;
        flex-direction: column;
    }

    #post{
        height: unset !important;
    }

    #act a{
        width: 100% !important;
    }
}

@media (max-width: 300px) {}