/////////////////////CHARGE LE MODULE VARIABLES///////////////////////////
// relativeUrls: true;
@import '../../variable.less';

/* ---------- */
/* Responsive */
/* ---------- */

/* Ordinateur */

@media (max-width: 3860px) {}

@media (max-width: 1600px) {}

@media (max-width: 1250px) {
    .container_command{
        flex-direction: column;
    }

    #act, #post{
        width: 100% !important;
        margin: 20px auto;
    }

    #gridAct{
        flex-direction: row !important;
        a{
            width: 48%;
        }
    }
}

/* Tablette */

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

/* Mobile */

@media (max-width: 656px) {}

@media (max-width: 300px) {}