{% extends 'user_base.html.twig' %}

{% block title %}Vie des chocolateries{% endblock %}

{% block body %}

<section class="container_general">

{#
{% for posts in post %}

<h1>La vie des chocolaterie {{ posts.catpost.nom }}</h1>

{% endfor %}#}
<article class="container_amis">
<h2>Les derniers inscrits</h2>
</article>
{% include "user/templates/posts.html.twig" %}




<nav class="menu_cat">

    <ul>

    {% for posts in post %}

        <li>{{ posts.catpost.nom }}</li>
        
    {% endfor %}

    </ul>

</nav>

</section>
{% endblock %}