{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur la partie admin!{% endblock %}

{% block body %}

<section>

    <h4> 
        Gérer les Utilisateurs
    </h4>

    <table>

            <tr>

                <th>Nom</th>
                <td>Allemand</td>

            </tr>

            <tr>

                <th>Poste</th>
                <td>Chocolatier</td>

            </tr>

            <tr>

                <th>Chocolaterie</th>
                <td>Ministral</td>

            </tr>
            

            <tr>

                <th>Prenom</th>
                <td>Arthur</td>

            </tr>

            <tr>

                <th>Actions</th>
                <td><button><i class="fa-solid fa-trash"></i>Suprimer</button></td>
                <td><button><i class="fa-solid fa-pen-to-square"></i>Modifier</button></td>

            </tr>


    </table>

</section>

{% endblock %}