{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur la partie admin!{% endblock %}

{% block body %}

<section>

    <article id="actualites">
        <div class="count">
        25
        </div>
        <h5>ACTUALITES<span>sont disponibles</span></h5>
        <ul>

            <li>
                le 12/09/2021 - <span> Lorem ipsum dolor sit amet. </span>
            </li>

            <li>
                le 12/09/2021 - <span> Lorem ipsum dolor sit amet. </span>
            </li>

            <li>
                le 12/09/2021 - <span> Lorem ipsum dolor sit amet. </span>
            </li>

        </ul>
        
        <button>Gérer les actualités</button>
    </article>

    <article id="categories">
        <div class="count">
        8
        </div>
        <h5>CATEGORIES<span>de posts sont disponibles</span></h5>
        <button>Gérer les catégories</button>
    </article>

    <article id="posts">
        <div class="count">
        12
        </div>
        <h5>POSTS<span>sont disponibles</span></h5>
        <button>Gérer les posts</button>
    </article>

    <article id="utilisateurs">
        <div class="count">
        10
        </div>
        <h5>UTILISATEURS<span>sont incrits</span></h5>
        <button>Gérer les utilisateurs</button>
    </article>

    <article id="chocolateries">
        <div class="count">
        5
        </div>
        <h5>CHOCOLATERIES<span>sont ouvertes</span></h5>
        <button>Gérer les chocolateries</button>
    </article>

        <a href="#" id="ancre">
            <i class="fa-sharp fa-solid fa-angle-up"></i>
        </a>

</section>
{% endblock %}
