/////////////////////CHARGE LE MODULE VARIABLES///////////////////////////
// relativeUrls: true;
@import '../../variable.less';

/* ---------- */
/* Responsive */
/* ---------- */

/* Ordinateur */

@media (max-width: 3860px) {}

@media (max-width: 1600px) {}

@media (max-width: 1200px) {}

/* Tablette */

@media (max-width: 1024px) {


    header{
        z-index: 10;
    }

    #container_bandeau{
        z-index: 15;
        margin-bottom: 50px;
    }

    #Conteneur_Logo_Usr{
        width: 90px !important;
        height: 90px !important;
        bottom: -45px !important;
    }

    .activeHead{
        margin-top: 0 !important;
    }

    .container_command{
        padding: 0 !important;
    
    h1 {
        margin: 0px 0px 20px 0px;
        font-size: revert;
        text-align: center;
    }

    .tab-container {
        width: 100%;
    
        .tab {
            background-color: @bgd_bgr;
            border-top-left-radius: 0px;
    
            li {
                width: 100%;
                border-top-right-radius: 0px;
                border-top-left-radius: 0px;
            }

    
        }

    
        button {
            width: 90%;
        }
     
    
} }
}

@media (max-width: 768px) {}

/* Mobile */

@media (max-width: 656px) {}

@media (max-width: 300px) {}