/* ---------- */
/* Responsive */
/* ---------- */
/* Ordinateur */
/* Tablette */
@media (max-width: 1024px) {
  * {
    font-family: 'Montserrat', sans-serif;
  }
  p {
    color: #141414;
    font-weight: 600;
    font-size: clamp(0.3125rem, 0.8rem, 3rem);
  }
  #head {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #DFDFDF;
  }
  #head #mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: min-content;
  }
  #head #mobile figure {
    width: 60px;
  }
  #head #mobile a {
    text-decoration: none;
  }
  #head #mobile a i {
    font-size: 30px;
    color: #333333;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DFDFDF;
  }
  body header {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: white;
    /* .active {
                left: 0;
              }  */
  }
  body header #containerTop {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1F2547;
    padding: 15px;
    height: 40vh;
  }
  body header #containerTop h1 {
    width: 100%;
    font-weight: 200;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: clamp(0.625rem, 1rem, 3rem);
  }
  body header #containerTop h1 > span {
    font-family: 'Playfair Display', serif;
    font-style: oblique;
    text-transform: none;
  }
  body header #containerTop .btn {
    width: 65%;
    background-color: #0BAA9F;
    padding: 10px 0px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.8rem;
    color: #ffffff;
    transition: 0.4s;
  }
  body header #containerTop .btn:hover {
    color: #16394D;
  }
  body header #containerTop figure {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body header #containerTop figure img {
    border-radius: 70%;
    width: 70%;
  }
  body header #containerBottom {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 60vh;
    flex-direction: column;
    font-weight: 200;
    color: #ffffff;
    text-align: left;
    background-color: #191E39;
  }
  body header #containerBottom ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body header #containerBottom ul a {
    padding: 10px 0px 10px 29px;
    width: 70%;
    font-weight: 200;
    color: #ffffff;
    font-size: 0.9rem;
  }
  body header #containerBottom ul a:hover {
    background-color: #16394D;
  }
  body header #containerBottom #test1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  body header #containerBottom #test1 .icon_mod {
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-end;
    /* .close {
                                   position: absolute;
                                   top: 0;
                                   right: 25px;
                                   font-size: 36px;
                                 }*/
    /* Close btn */
  }
  body header #containerBottom #test1 .icon_mod i {
    display: flex;
    padding: 15px;
    font-size: 1.9rem;
    opacity: 0.58;
    color: #ffffff;
  }
  body header #containerBottom #test1 .icon_mod i:hover {
    opacity: 0.8;
    scale: 1.05;
  }
  body header #containerBottom #test1 figure {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
  }
  body header #containerBottom #test1 figure img {
    width: 90%;
  }
}
/* Mobile */
@media (max-width: 656px) {
  * {
    font-family: 'Montserrat', sans-serif;
  }
  p {
    color: #141414;
    font-weight: 600;
    font-size: clamp(0.3125rem, 0.8rem, 3rem);
  }
  #head {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #DFDFDF;
  }
  #head #mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: min-content;
  }
  #head #mobile figure {
    width: 60px;
  }
  #head #mobile a {
    text-decoration: none;
  }
  #head #mobile a i {
    font-size: 30px;
    color: #333333;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DFDFDF;
  }
  body header {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: white;
    /* .active {
                left: 0;
              }  */
  }
  body header #containerTop {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1F2547;
    padding: 15px;
    height: 40vh;
  }
  body header #containerTop h1 {
    width: 100%;
    font-weight: 200;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: clamp(0.625rem, 1rem, 3rem);
  }
  body header #containerTop h1 > span {
    font-family: 'Playfair Display', serif;
    font-style: oblique;
    text-transform: none;
  }
  body header #containerTop .btn {
    width: 65%;
    background-color: #0BAA9F;
    padding: 10px 0px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.8rem;
    color: #ffffff;
    transition: 0.4s;
  }
  body header #containerTop .btn:hover {
    color: #16394D;
  }
  body header #containerTop figure {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body header #containerTop figure img {
    border-radius: 70%;
    width: 70%;
  }
  body header #containerBottom {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 60vh;
    flex-direction: column;
    font-weight: 200;
    color: #ffffff;
    text-align: left;
    background-color: #191E39;
  }
  body header #containerBottom ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body header #containerBottom ul a {
    padding: 10px 0px 10px 29px;
    width: 70%;
    font-weight: 200;
    color: #ffffff;
    font-size: 0.9rem;
  }
  body header #containerBottom ul a:hover {
    background-color: #16394D;
  }
  body header #containerBottom #test1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  body header #containerBottom #test1 .icon_mod {
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-end;
    /* .close {
                                   position: absolute;
                                   top: 0;
                                   right: 25px;
                                   font-size: 36px;
                                 }*/
    /* Close btn */
  }
  body header #containerBottom #test1 .icon_mod i {
    display: flex;
    padding: 15px;
    font-size: 1.9rem;
    opacity: 0.58;
    color: #ffffff;
  }
  body header #containerBottom #test1 .icon_mod i:hover {
    opacity: 0.8;
    scale: 1.05;
  }
  body header #containerBottom #test1 figure {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
  }
  body header #containerBottom #test1 figure img {
    width: 90%;
  }
}
