/* ---------- */
/* Responsive */
/* ---------- */
/* Ordinateur */
@media (max-width: 1600px) {
  #containerBottom a {
    padding: 12px 20px !important;
  }
}
/* Tablette */
@media (max-width: 1024px) {
  * {
    font-family: 'Montserrat', sans-serif;
  }
  p {
    color: #141414;
    font-weight: 600;
    font-size: clamp(0.3125rem, 0.8rem, 3rem);
  }
  #container_bandeau {
    justify-content: flex-start !important;
    height: 110px !important;
  }
  #container_bandeau figure:nth-of-type(2) {
    height: 100% !important;
  }
  .container_command {
    margin-left: unset !important;
    margin-top: 48px;
  }
  #head {
    display: block;
    width: 100%;
    padding: 5px 20px 0 20px;
    z-index: 999;
    top: 0;
  }
  #head #mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: min-content;
  }
  #head #mobile figure {
    width: 50px;
  }
  #head #mobile a {
    text-decoration: none;
  }
  #head #mobile a i {
    font-size: 20px;
    color: white;
  }
  body {
    flex-direction: column;
    align-items: center;
    height: 100%;
    display: block;
  }
  body header {
    width: 0%;
    transition: 0.2s;
    overflow: hidden;
    position: absolute;
    height: calc(100vh - 48px);
    margin-top: 48px;
  }
  body #containerTop {
    justify-content: space-around;
    padding: 15px;
    height: 50vh;
  }
  body #containerTop h1 {
    margin-top: 30px;
  }
  body #containerTop .btn {
    padding: 10px 0px;
  }
  body #containerTop figure {
    align-items: center;
    width: 100px;
    height: 100px;
  }
  body #containerBottom {
    padding: 15px;
    height: 50vh;
  }
  body #containerBottom ul {
    align-items: center;
    width: auto;
  }
  body #containerBottom ul a {
    padding: 10px 50px 10px 50px;
  }
  body #containerBottom figure {
    display: none;
  }
  .activeHead {
    width: 100%;
  }
}
@media (max-width: 768px) {
  header {
    background-color: white;
  }
  header #containerTop {
    background-color: #1F2547;
  }
  header #containerTop h1 {
    color: white;
  }
  header #containerTop .btn {
    color: #ffffff;
  }
  header #containerBottom {
    color: #ffffff;
  }
  header #containerBottom ul {
    display: flex;
  }
  header #containerBottom ul a {
    color: #ffffff;
  }
}
/*Version Mobile */
@media (max-width: 656px) {
  #containerBottom ul a {
    padding: 1vh 20px !important;
  }
}
