/* ---------- */
/* Responsive */
/* ---------- */
/* Ordinateur */
/* Tablette */
@media (max-width: 1024px) {
  * {
    font-family: 'Montserrat', sans-serif;
  }
  p {
    color: #141414;
    font-weight: 600;
    font-size: clamp(0.3125rem, 0.8rem, 3rem);
  }
  #container_bandeau {
    justify-content: flex-start !important;
    height: 165px !important;
  }
  #container_bandeau figure:nth-of-type(2) {
    height: 100% !important;
  }
  .container_command {
    margin-left: unset !important;
  }
  #head {
    display: block;
    width: 100%;
    padding: 5px 20px 0 20px;
    z-index: 999;
    top: 0;
  }
  #head #mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: min-content;
  }
  #head #mobile figure {
    width: 50px;
  }
  #head #mobile a {
    text-decoration: none;
  }
  #head #mobile a i {
    font-size: 20px;
    color: white;
  }
  body {
    flex-direction: column;
    align-items: center;
    height: 100%;
    display: block;
  }
  body header {
    width: 0%;
    transition: 0.2s;
    overflow: hidden;
    position: absolute;
    height: calc(100vh - 5%);
    margin-top: 48px;
  }
  body #containerTop {
    justify-content: space-around;
    padding: 15px;
    height: 40vh;
  }
  body #containerTop h1 {
    font-size: clamp(0.625rem, 1rem, 3rem);
    margin-top: 30px;
  }
  body #containerTop .btn {
    width: 65%;
    padding: 10px 0px;
    font-size: 0.8rem;
  }
  body #containerTop figure {
    align-items: center;
    width: 100px;
    height: 100px;
  }
  body #containerTop #containerBottom {
    padding: 10px;
    height: 60vh;
  }
  body #containerTop #containerBottom ul {
    align-items: center;
  }
  body #containerTop #containerBottom ul a {
    padding: 10px 0px 10px 29px;
    width: 70%;
    font-size: 0.9rem;
  }
  body #containerTop #containerBottom .icon_mod {
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-end;
  }
  body #containerTop #containerBottom .icon_mod i {
    display: flex;
    padding: 15px;
    font-size: 1.9rem;
    opacity: 0.58;
    color: #ffffff;
  }
  body #containerTop #containerBottom .icon_mod i:hover {
    opacity: 0.8;
    scale: 1.05;
  }
  body #containerTop #containerBottom figure {
    width: 80px !important;
  }
  body #containerTop #containerBottom figure img {
    border-radius: 50%;
  }
  .activeHead {
    width: 100%;
  }
  #container_btn {
    margin-top: 50px;
  }
}
/* Mobile */
