@import '../variable.less';


/* ---------- */
/* Responsive */
/* ---------- */

/* Ordinateur */


@media (max-width: 3860px) {}

@media (max-width: 1600px) {}

@media (max-width: 1200px) {}

/* Tablette */

@media (max-width: 1024px) {

    * {
        font-family: @fontM;
    }

    p {
        color: @clr-pol5;
        font-weight: 600;
        font-size: clamp(0.3125rem, 0.8rem, 3rem);
    }


    #head {

        display: block;
        width: 100%;
        padding: 15px;
        background-color: @bgd_bgr;
    
        #mobile {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: min-content;
    
    
            figure {
                width: 60px;
            }
    
    
    
            a {
                text-decoration: none;
    
                i {
                    font-size: 30px;
                    color: @clr-pol4;
                }
            }
    
    
    
    
    
    
    
        }
    
    }



    body {
        display: flex;
        //justify-content: space-between;
        flex-direction: column;
        align-items: center;
        //border: solid 1px rgb(0, 255, 0);
        background-color: @bgd_bgr;

        header {
            
            display: flex;
            flex-direction: column;
            //position: fixed;
            //z-index: 1;
            //top: 0;
            //left: -100vw;
            //justify-content: space-between;
            text-align: center;
            width: 100%;
            height: 100vh;
            background-color: white;
            //border: solid 2px rgb(26, 255, 0);


            
               /* .active {
                left: 0;
              }  */
            


              
             


            #containerTop {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                background-color: @bgd_bgr1;
                padding: 15px;
                height: 40vh;


                h1 {
                    width: 100%;
                    font-weight: 200;
                    letter-spacing: 1px;
                    color: #ffffff;
                    text-transform: uppercase;
                    font-size: (clamp(0.625rem, 1rem, 3rem));
                }

                h1>span {
                    font-family: @fontP;
                    font-style: oblique;
                    text-transform: none;
                }



                .btn {
                    width: 65%;
                    background-color: @clr-btn1;
                    padding: 10px 0px;
                    border-radius: 5px;
                    font-weight: bold;
                    font-size: 0.8rem;
                    color: #ffffff;
                    transition: @trt;

                    &:hover {
                        color: (@bgd_bgr3);
                    }
                }


                figure {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        //border: solid 1px black;
                        border-radius: 70%;
                        width: 70%;
                    }
                }
            }

            #containerBottom {
                display: flex;
                align-items: center;
                padding: 10px;
                //justify-content: space-between;
                height: 60vh;
                flex-direction: column;
                font-weight: 200;
                color: #ffffff;
                text-align: left;
                background-color: @bgd_bgr2;



                ul {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    //border: solid 2px rgb(246, 255, 0);



                    a {
                        padding: 10px 0px 10px 29px;
                        width: 70%;
                        font-weight: 200;
                        color: #ffffff;
                        font-size: 0.9rem;

                        &:hover {
                            background-color: @bgd_bgr1-hvr;
                        }
                    }

                }


                #test1 {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    .icon_mod {
                        
                        flex-direction: row-reverse;
                        align-items: flex-end;
                        justify-content: flex-end;


                               /* .close {
                                   position: absolute;
                                   top: 0;
                                   right: 25px;
                                   font-size: 36px;
                                 }*/

                       
                        /* Close btn */
                                    
                        i
                        {
                            display: flex;
                            padding: 15px;
                            font-size: 1.9rem;
                            opacity: 0.58;
                            color: #ffffff;
                            &:hover{
                                opacity: 0.8;
                                scale: @sle;

                            }

                        }

                    }

                    figure {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 30%;
                        //border: @bord2;


                        img {
                            //border: solid 1px black;
                            width: 90%;
                        }

                    }
                }
            }
        }
    }



}

@media (max-width: 768px) {}

/* Mobile */

@media (max-width: 656px) {


    * {
        font-family: @fontM;
    }

    p {
        color: @clr-pol5;
        font-weight: 600;
        font-size: clamp(0.3125rem, 0.8rem, 3rem);
    }


    #head {

        display: block;
        width: 100%;
        padding: 15px;
        background-color: @bgd_bgr;
    
        #mobile {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: min-content;
    
    
            figure {
                width: 60px;
            }
    
    
    
            a {
                text-decoration: none;
    
                i {
                    font-size: 30px;
                    color: @clr-pol4;
                }
            }
    
    
    
    
    
    
    
        }
    
    }



    body {
        display: flex;
        //justify-content: space-between;
        flex-direction: column;
        align-items: center;
        //border: solid 1px rgb(0, 255, 0);
        background-color: @bgd_bgr;

        header {
            
            display: flex;
            flex-direction: column;
            //position: fixed;
            //z-index: 1;
            //top: 0;
            //left: -100vw;
            //justify-content: space-between;
            text-align: center;
            width: 100%;
            height: 100vh;
            background-color: white;
            //border: solid 2px rgb(26, 255, 0);


            
               /* .active {
                left: 0;
              }  */
            


              
             


            #containerTop {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                background-color: @bgd_bgr1;
                padding: 15px;
                height: 40vh;


                h1 {
                    width: 100%;
                    font-weight: 200;
                    letter-spacing: 1px;
                    color: #ffffff;
                    text-transform: uppercase;
                    font-size: (clamp(0.625rem, 1rem, 3rem));
                }

                h1>span {
                    font-family: @fontP;
                    font-style: oblique;
                    text-transform: none;
                }



                .btn {
                    width: 65%;
                    background-color: @clr-btn1;
                    padding: 10px 0px;
                    border-radius: 5px;
                    font-weight: bold;
                    font-size: 0.8rem;
                    color: #ffffff;
                    transition: @trt;

                    &:hover {
                        color: (@bgd_bgr3);
                    }
                }


                figure {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        //border: solid 1px black;
                        border-radius: 70%;
                        width: 70%;
                    }
                }
            }

            #containerBottom {
                display: flex;
                align-items: center;
                padding: 10px;
                //justify-content: space-between;
                height: 60vh;
                flex-direction: column;
                font-weight: 200;
                color: #ffffff;
                text-align: left;
                background-color: @bgd_bgr2;



                ul {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    //border: solid 2px rgb(246, 255, 0);



                    a {
                        padding: 10px 0px 10px 29px;
                        width: 70%;
                        font-weight: 200;
                        color: #ffffff;
                        font-size: 0.9rem;

                        &:hover {
                            background-color: @bgd_bgr1-hvr;
                        }
                    }

                }


                #test1 {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    .icon_mod {
                        
                        flex-direction: row-reverse;
                        align-items: flex-end;
                        justify-content: flex-end;


                               /* .close {
                                   position: absolute;
                                   top: 0;
                                   right: 25px;
                                   font-size: 36px;
                                 }*/

                       
                        /* Close btn */
                                    
                        i
                        {
                            display: flex;
                            padding: 15px;
                            font-size: 1.9rem;
                            opacity: 0.58;
                            color: #ffffff;
                            &:hover{
                                opacity: 0.8;
                                scale: @sle;

                            }

                        }

                    }

                    figure {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 30%;
                        //border: @bord2;


                        img {
                            //border: solid 1px black;
                            width: 90%;
                        }

                    }
                }
            }
        }
    }
}

@media (max-width: 300px) {}