@import '../variable.less';


/* ---------- */
/* Responsive */
/* ---------- */

/* Ordinateur */


@media (max-width: 3860px) {}

@media (max-width: 1600px) {}

@media (max-width: 1200px) {}

/* Tablette */

@media (max-width: 1024px) {}


@media (max-width: 768px) {}

/* Mobile */

@media (max-width: 656px) {


    * {
        font-family: @fontM;
    }

    p {
        color: @clr-pol5;
        font-weight: 600;
        font-size: clamp(0.3125rem, 0.8rem, 3rem);
    }

    #container_bandeau{
        justify-content: flex-start !important;
        height: 165px !important;

        figure:nth-of-type(2){
            height: 100% !important;
        }
    }

    //Header Mobile// 

    #head {

        display: block;
        width: 100%;
        padding: 15px;
        background-color: transparent;
        z-index: 999;
        position: absolute;
        top: 0;

        #mobile {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: min-content;
            


            figure {
                width: 50px;
            }

            a {
                text-decoration: none;

                i {
                    font-size: 20px;
                    color: white;
                }
            }

        }

    }


    //Header bandeau

    body {
        flex-direction: column;
        align-items: center;
        height: 100%;
        display: block;

        header{
            width: 0%;
            transition: 0.2s;
            overflow: hidden;
            position: absolute;
        }



            #containerTop {
                justify-content: space-around;
                padding: 15px;
                height: 40vh;


                h1 {

                    font-size: (clamp(0.625rem, 1rem, 3rem));
                }



                .btn {
                    width: 65%;
                    padding: 10px 0px;
                    font-size: 0.8rem;
                }


                figure {

                    align-items: center;
                    width: 100px;
                    height: 100px;


                }
            

            #containerBottom {
                padding: 10px;
                height: 60vh;


                ul {

                    align-items: center;




                    a {
                        padding: 10px 0px 10px 29px;
                        width: 70%;
                        font-size: 0.9rem;

                    }

                }



                .icon_mod {

                    flex-direction: row-reverse;
                    align-items: flex-end;
                    justify-content: flex-end;

                    i {
                        display: flex;
                        padding: 15px;
                        font-size: 1.9rem;
                        opacity: 0.58;
                        color: #ffffff;

                        &:hover {
                            opacity: 0.8;
                            scale: @sle;

                        }

                    }

                }

                figure {
                    width: 80px !important;

                    img {
                        border-radius: 50%;
                    }
                }

            }
        }
    }

    .activeHead{
        width: 100%;
    }

    #container_btn{
        margin-top: 50px;
    }
}

@media (max-width: 300px) {}