.flex_C_C {
  display: flex;
  flex-direction: column;
}
.flex_C {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.Boutton {
  background-color: #1F2547;
  font-weight: bold;
  font-size: 1rem;
  color: #ffffff;
  transition: 0.4s;
}
.Boutton:hover {
  color: #F2BF2C;
}
.BouttonCP {
  color: #EFEFEF;
  border-radius: 5px;
  background-color: #29388D;
  padding: 4px 35px;
  border: solid 1px #29388D;
  margin: 15px 0px 15px 0px;
  transition: 0.3s;
}
.BouttonCP:hover {
  scale: 1.05;
}
.ZoneDeTexte {
  width: 100%;
  height: 125px;
  border: solid 1px rgba(0, 0, 0, 0);
  flex-direction: column;
  justify-content: space-evenly;
  padding: 15px;
  resize: none;
}
.ZoneDeTexte:focus {
  outline: 1px solid #14141444;
  border-radius: 2px;
}
header {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed;
  width: 20%;
  height: 100vh;
  background-color: white;
}
header #containerTop {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1F2547;
  height: 40vh;
}
header #containerTop h1 {
  width: 100%;
  font-weight: 200;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: clamp(1.2rem, calc(0.96rem + 0.9vw), 1.65rem);
}
header #containerTop h1 > span {
  font-family: 'Playfair Display', serif;
  font-style: oblique;
  text-transform: none;
}
header #containerTop .btn {
  width: clamp(10.63rem, calc(9.8rem + 4.15vw), 14.75rem);
  background-color: #0BAA9F;
  padding: 15px 0px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  color: #ffffff;
  transition: 0.4s;
}
header #containerTop .btn:hover {
  color: #16394D;
}
header #containerTop figure {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;
}
header #containerTop figure img {
  border-radius: 50%;
}
header #containerBottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60vh;
  flex-direction: column;
  font-weight: 200;
  color: #ffffff;
  text-align: left;
  background-color: #191E39;
}
header #containerBottom ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header #containerBottom ul li:hover {
  background-color: #16394D;
}
header #containerBottom ul li a {
  padding: 15px 20px;
  width: 250px;
  margin: auto;
  font-weight: 200;
  color: #ffffff;
  font-size: clamp(0.88rem, calc(0.85rem + 0.13vw), 1rem);
  white-space: nowrap;
  display: block;
}
header #containerBottom figure {
  width: clamp(4.38rem, calc(3rem + 6.88vw), 9.25rem);
  overflow: hidden;
}
* {
  font-family: 'Montserrat', sans-serif;
}
p {
  color: #141414;
  font-weight: 600;
  width: 100%;
  font-size: clamp(0.75rem, calc(0.71rem + 0.19vw), 0.94rem);
}
body {
  display: flex;
  flex-direction: row;
  background-color: #DFDFDF;
}
#head {
  display: none;
  width: 100%;
  padding: 15px;
  background-color: #DFDFDF;
  position: fixed;
  background-color: #1F2547;
}
#head #mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: min-content;
}
#head #mobile figure {
  width: 50px;
}
#head #mobile a {
  text-decoration: none;
}
#head #mobile a i {
  font-size: 20px;
  color: #333333;
}
.container_command {
  margin-left: 20%;
  padding: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.uk-pagination {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  margin: 30px auto;
  font-weight: bold;
}
.uk-pagination li {
  transition: 0.2s;
  margin: auto 10px;
}
.uk-pagination li:hover {
  color: #0BAA9F;
  transform: scale(1.05);
  cursor: pointer;
}
.uk-pagination li a {
  color: unset;
}
.uk-pagination li .st-color-red {
  color: red;
}
.uk-pagination .st-color-red {
  color: #0BAA9F;
}
