@import '../variable.less';

/////////////////////CHARGE LE MODULE HEADER///////////////////////
@import './modules/header.less';

* {
    font-family: @fontM;
}

p {
    color: @clr-pol5;
    font-weight: 600;
    width: 100%;
    font-size: @tP;
    //text-align: justify;
}

body {
    display: flex;
    flex-direction: row;
    background-color: @bgd_bgr;
}

//header mobile

#head {

    display: none;
    width: 100%;
    padding: 15px;
    background-color: @bgd_bgr;
    position: fixed;
    background-color: #1F2547;

    #mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: min-content;

        figure {
            width: 50px;
        }

        a {
            text-decoration: none;
            i {
                font-size: 20px;
                color: @clr-pol4;
            }
        }
    }
}

//Permet la mise en place de tout les modules 
.container_command {
    margin-left: 20%;
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.uk-pagination {

    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin: 30px auto;
    font-weight: bold;

    li {

        transition: 0.2s;
        margin: auto 10px;

        &:hover {
            color: #0BAA9F;
            transform: scale(1.05);
            cursor: pointer;
        }

        a {
            color: unset;
        }

        .st-color-red {
            color: red;
        }
    }

    .st-color-red {
        color: #0BAA9F;
    }

}