@import '../variable.less';

/////////////////////CHARGE LE MODULE HEADER///////////////////////
@import './modules/header.less';

* {
    font-family: @fontM;
}

p {
    color: @clr-pol5;
    font-weight: 600;
    font-size: clamp(0.3125rem, 0.8743rem, 3rem);
    width: inherit;
}

body {
    display: flex;
    flex-direction: row;
    background-color: @bgd_bgr;
}

#head {

    display: none;
    width: 100%;
    padding: 15px;
    background-color: @bgd_bgr;

    #mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: min-content;


        figure {
            width: 60px;
        }



        a {
            text-decoration: none;

            i {
                font-size: 30px;
                color: @clr-pol4;
            }
        }







    }

}

    //Permet la mise en place de tout les modules 
    .container_command {
        overflow-y: scroll;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        //border: solid 4px rgb(255, 0, 242);
    }

    .uk-pagination{

        display: flex;
        justify-content: space-between;
        width: fit-content;
        margin: 30px auto;
        font-weight: bold;
    
    
        li{
    
            transition: 0.2s;
            margin: auto 10px;
    
            &:hover{
    
            color: #0BAA9F;
            transform: scale(1.05);
            cursor: pointer;
            }
    
            a{
                color: unset;
                
            }
    
            .st-color-red{
                color: red;
            }
    
        }
    
        .st-color-red{
            color: #0BAA9F;
        }
    
    
    }