<form method="post" action="{{ path('app_cat_post_delete', {'id': cat_post.id}) }}" onsubmit="return confirm('Vous êtes sur de vouloir supprimer cet catègories?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cat_post.id) }}">
    <button class="btn"><i class="fa-solid fa-trash"></i>Supprimer</button>
</form>
