{% extends 'admin_base.html.twig' %}

{% block title %}Nouvelle catègories de post{% endblock %}

{% block body %}
    <h1>Create new CatPost</h1>

    {{ include('cat_post/_form.html.twig') }}

    <a href="{{ path('app_cat_post_index') }}">back to list</a>
{% endblock %}
