<form method="post" action="{{ path('app_profil', {'id': comment.id}) }}" onsubmit="return confirm('Supprimer se message?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
    <button class="btn">Supprimer</button>
</form>
