<form method="post" action="{{ path('app_profil', {'id': commentaire.id}) }}" onsubmit="return confirm('Supprimer se message?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commentaire.id) }}">
    <button class="btn">Supprimer</button>
</form>
