
body {
  background: url("/img/logos/connexion-fond.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
img {
  width: 125px;
  height: 125px;
  margin: 28px 0px;
}
h5 {
  text-align: center;
  color: #0BAA9F;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}
h1 {
  text-align: center;
  color: #0BAA9F;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 2.1rem;
  line-height: 30px;
}
h1 > span {
  font-style: oblique;
  font-family: 'Playfair Display', serif;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.flexForm {
  display: flex;
  align-items: center;
  width: 100%;
}
input {
  width: 250px;
  height: 50px;
  color: #D9D9D9;
  background: #211D1D;
  border: 1px solid #0BAA9F;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
}
::placeholder {
  color: #D9D9D9;
  padding: 15px;
}
.btn {
  width: 220px;
  height: 50px;
  background: #0BAA9F;
  color: #000000;
  border: 0.5px solid #0BAA9F;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-size: small;
  font-weight: 500;
  margin-top: 10px;
  transition: 0.4s;
}
.btn:hover {
  background: #087a72;
  scale: 1.05;
}
label {
  font-family: 'Montserrat', sans-serif;
  color: #0BAA9F;
  font-size: 0.8rem;
  margin-top: 10px;
}
label > input {
  width: 10px;
  height: 10px ;
}
.error {
  color: #ff2323;
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
}
.bjr {
  color: #D9D9D9;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
}
#sectionForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.misenforme {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0px 50px;
}
form {
  display: flex;
  flex-direction: column;
  margin: 15px 50px 0px 50px;
}
.divForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.input_Reg_Form {
  width: 250px;
  height: 50px;
  color: #D9D9D9;
  background: #211D1D;
  border: 1px solid #0BAA9F;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
}
::placeholder {
  color: #D9D9D9;
  padding: 10px;
}
.btn_Reg_Form {
  width: 220px;
  height: 50px;
  background: #0BAA9F;
  color: #000000;
  border: 0.5px solid #0BAA9F;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  transition: 0.4s;
}
.btn_Reg_Form:hover {
  background: #087a72;
  scale: 1.05;
}
.inputteste {
  width: 12px;
  height: 12px;
}
