{% extends 'user_base.html.twig' %}

{% block title %}Trombinoscope{% endblock %}

{% block body %}

{% include 'user/templates/dashboard.html.twig' %}

<h1>Trombinoscope</h1>

<div id="searchContainer">

    <div id="searchLoopBar">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input id="searchBar"  type="text" name="search" placeholder="Rechercher...">
    </div>

</div>

{% for i in 0..nbUser %}

{% endblock %}