#container_btn {
  display: flex;
  flex-direction: column;
  width: 17%;
}
span > li {
  background-color: #0BAA9F;
}
li {
  border-radius: 9px;
  text-align: center;
  list-style: none;
  background-color: #1F2547;
  margin: 10px 0px 7px 0px;
  padding: 20px 0px;
}
.btn {
  background-color: #1F2547;
  font-weight: bold;
  font-size: 1.3rem;
  color: #ffffff;
  transition: 0.4s;
}
.btn:hover {
  color: #F2BF2C;
}
.btn2 {
  background-color: #0BAA9F;
  font-weight: bold;
  font-size: 1.3rem;
  color: #D9D9D9;
  transition: 0.4s;
}
.btn2:hover {
  color: #191E39;
}
