<form method="post" action="{{ path('app_user_profil_delete', {'id': user.id}) }}" onsubmit="return confirm('Vous allez supprrimer se profil et toutes les infomartions asscociés à celui-ci, êtes vous certain?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn">Supprimer le compte</button>
</form>
