/* ---------- */
/* Responsive */
/* ---------- */
/* Ordinateur */
@media (max-width: 1450px) {
  #searchContainer ul {
    font-size: 0.7em !important;
  }
}
@media (max-width: 1200px) {
  .container_command h1 {
    margin: 20px 0 0 0;
  }
  #searchContainer ul {
    display: none !important;
  }
  #searchContainer #searchLoopBar::after,
  #searchContainer #searchLoopBar::before {
    display: none;
  }
  #searchContainer #searchLoopBar #searchBar {
    width: 100% !important;
  }
  #searchContainer #searchLoopBar #searchBar:focus {
    width: 100% !important;
  }
}
/* Tablette */
@media (max-width: 768px) {
  #gridAct {
    align-items: center;
    flex-direction: column;
  }
  #gridAct a {
    width: 100%;
  }
}
/* Mobile */
@media (max-width: 656px) {
  .container_command {
    padding: 50px 10px;
  }
}
@media (max-width: 400px) {
  #gridAct {
    padding: 20px 20px;
  }
}
