<div id="container_bandeau">

    <figure>
        <img titre="bandeau utlisateur " src="{{ app.user.imagebandeau }}" alt="{{ app.user.imagebandeaualt }}">
    </figure>

    <figure id="Conteneur_Logo_Usr">
        <img titre="Logo utilisateur" src="{{ app.user.imageprofil }}" alt="{{ app.user.imageprofilalt }}">
    </figure>

</div>