<section id="container_bandeau">
    <figure id="Conteneur_Logo_Usr">
        <img titre="Logo utilisateur" src="../{{ user.imageprofil }}" alt="{{ user.imageprofilalt }}">
    </figure>
    <figure>
        <img titre="bandeau utlisateur " src="../{{ user.imagebandeau }}" alt="{{ user.imagebandeaualt }}">
    </figure>



</section>