#container_bandeau {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 93%;
  height: 35%;
}
#container_bandeau figure {
  display: flex;
  justify-content: center;
  height: 70%;
  border-bottom: solid 5px #F2BF2C;
}
#container_bandeau figure img {
  width: 100%;
}
#container_bandeau #Conteneur_Logo_Usr {
  position: absolute;
  display: flex;
  /* justify-content: center; */
  /* right: 40.5%; */
  /* border-radius: 50%; */
  top: 120px;
  border-bottom: solid #dfdfdf00;
  align-items: center;
  flex-direction: column;
}
#container_bandeau #Conteneur_Logo_Usr img {
  width: 70%;
  height: 80%;
  border-radius: 50%;
  border: solid 10px white;
}
#searchContainer {
  width: 100%;
  background: white;
  box-shadow: 5px 5px 5px silver;
  width: 93%;
  height: 50px;
  padding: 7px;
  text-align: right;
  margin: 28px auto;
}
#searchContainer #searchLoopBar {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}
#searchContainer #searchLoopBar i {
  font-size: 1em;
  padding: 10px;
  background-color: #F2BF2C;
  height: 100%;
  cursor: pointer;
}
#searchContainer #searchLoopBar #searchBar {
  border: 1px solid #F2BF2C;
  padding: 5px 15px;
  width: 300px;
  height: 100%;
}
