/* ---------- */
/* Responsive */
/* ---------- */
/* Ordinateur */
/* Tablette */
@media (max-width: 1024px) {
  .container_command {
    padding: 0 !important;
  }
  header {
    z-index: 10;
  }
  #container_bandeau {
    z-index: 15;
  }
  #Conteneur_Logo_Usr {
    width: 90px !important;
    height: 90px !important;
    top: 115px;
  }
}
@media (max-width: 768px) {
  #searchLoopBar::after,
  #searchLoopBar::before {
    display: none;
  }
  #searchLoopBar #searchBar {
    width: 100% !important;
  }
}
/* Mobile */
