/////////////////////CHARGE LE MODULE VARIABLES///////////////////////////
// relativeUrls: true;
@import '../../variable.less';

/* ---------- */
/* Responsive */
/* ---------- */

/* Ordinateur */

@media (max-width: 3860px) {}

@media (max-width: 1600px) {}

@media (max-width: 1300px) {

        .container_general{

            flex-wrap: wrap;
            justify-content: space-between;

            .menu_cat{
                order:1;
                width: 100%;
                margin-bottom: 20px;
            }

            #container_posts{
                order: 3;
                width: 100%;
                margin-left: 20px;
                margin: unset;
            }
        
            .container_amis{
                order:2;
                width: 100%;
                margin-bottom: 20px;
                flex-direction: row;
                flex-wrap: wrap;

                h3{
                    width: 100%;
                }

                figure {
                    display: flex;
                    width: fit-content;
                    align-items: center;
                    margin: 9px 14px;

                    figcaption {
                        line-height: 20px;
                        width: 96px;
                        font-family: 'Playfair Display', serif;
                        font-style: italic;
                        display: block;
                }
            }
        }
    }
}


/* Tablette */

@media (max-width: 1024px) {

/////////////////////CHARGE LE MODULE POST//////////////////////////

    #container_posts {
        padding: 0;
        margin: 10px 0px;
        width: 100%;

        h1 {
            margin: 0px 0px;
        }

        .posts {
            flex-direction: column;
            align-content: center;
            justify-content: center;
            padding: 15px !important;
            margin: 16px 0px !important;

            figure {
                width: 60px !important;
                height: 60px !important;
            }

            .contenues {
                text-align: left !important;
                width: -webkit-fill-available !important;
                margin: 10px 0px !important;

                #contenues_img {
                    margin: 10px 0px !important;

                    img {
                        width: 40%;
                        margin: 5px 10px 5px 0px ;
                    }
                }

                h3 {
                    font-size: 20px !important;
                }

                .comments {
                    margin: 15px 0px 0px 0px !important;

                    i {
                        font-size: small;
                    }

                    a {
                        margin: 0px 20px 0px 0px !important;
                        font-size: 0.8rem !important;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    
}

@media (max-width: 768px) {}

/* Mobile */

@media (max-width: 656px) {
    .container_command{
        padding: 0;

        .Top{
            margin: 40px 30px !important;
        }
    }

    #container_posts{
        margin: 0 10px !important;
    }


}

@media (max-width: 300px) {}