/////////////////////CHARGE LE MODULE VARIABLES///////////////////////////
// relativeUrls: true;
@import '../../variable.less';

/* ---------- */
/* Responsive */
/* ---------- */

/* Ordinateur */

@media (max-width: 3860px) {}

@media (max-width: 1600px) {}

@media (max-width: 1300px) {

        .container_general{

            flex-wrap: wrap;
            justify-content: space-between;

            .menu_cat{
                order:1;
                width: 100%;
                margin-bottom: 20px;
            }

            #container_posts{
                order: 3;
                width: 100%;
                margin-left: 20px;
                margin: unset;
            }
        
            .container_amis{
                order:2;
                width: 100%;
                margin-bottom: 20px;
                flex-direction: row;
                flex-wrap: wrap;

                h3{
                    width: 100%;
                }

                figure {
                    display: flex;
                    width: fit-content;
                    align-items: center;
                    margin: 9px 14px;

                    figcaption {
                        line-height: 20px;
                        width: 96px;
                        font-family: 'Playfair Display', serif;
                        font-style: italic;
                        display: block;
                }
            }
        }
    }
}


/* Tablette */

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

/* Mobile */

@media (max-width: 656px) {
    .container_command{
        padding: 0;

        .Top{
            margin: 40px 30px !important;
        }
    }

    #container_posts{
        margin: 0 10px !important;
    }


}

@media (max-width: 300px) {}