.flex_C_C {
  display: flex;
  flex-direction: column;
}
.flex_C {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.Boutton {
  background-color: #1F2547;
  font-weight: bold;
  font-size: 1rem;
  color: #ffffff;
  transition: 0.4s;
}
.Boutton:hover {
  color: #F2BF2C;
}
.BouttonCP {
  color: #EFEFEF;
  border-radius: 5px;
  background-color: #29388D;
  padding: 4px 35px;
  border: solid 1px #29388D;
  margin: 15px 0px 15px 0px;
  transition: 0.3s;
}
.BouttonCP:hover {
  scale: 1.05;
}
.ZoneDeTexte {
  width: 100%;
  height: 125px;
  border: solid 1px rgba(0, 0, 0, 0);
  flex-direction: column;
  justify-content: space-evenly;
  padding: 15px;
  resize: none;
}
.ZoneDeTexte:focus {
  outline: 1px solid #14141444;
  border-radius: 2px;
}
/* ---------- */
/* Responsive */
/* ---------- */
/* Ordinateur */
@media (max-width: 1300px) {
  .container_general {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .container_general .menu_cat {
    order: 1;
    width: 100%;
    margin-bottom: 20px;
  }
  .container_general #container_posts {
    order: 3;
    width: 100%;
    margin-left: 20px;
    margin: unset;
  }
  .container_general .container_amis {
    order: 2;
    width: 100%;
    margin-bottom: 20px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .container_general .container_amis h3 {
    width: 100%;
  }
  .container_general .container_amis figure {
    display: flex;
    width: fit-content;
    align-items: center;
    margin: 9px 14px;
  }
  .container_general .container_amis figure figcaption {
    line-height: 20px;
    width: 96px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    display: block;
  }
}
/* Tablette */
@media (max-width: 1024px) {
  #container_posts {
    padding: 0;
    margin: 10px 0px;
    width: 100%;
  }
  #container_posts h1 {
    margin: 0px 0px;
  }
  #container_posts .posts {
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 15px !important;
    margin: 16px 0px !important;
  }
  #container_posts .posts figure {
    width: 60px !important;
    height: 60px !important;
  }
  #container_posts .posts .contenues {
    text-align: left !important;
    width: -webkit-fill-available !important;
    margin: 10px 0px !important;
  }
  #container_posts .posts .contenues #contenues_img {
    margin: 10px 0px !important;
  }
  #container_posts .posts .contenues #contenues_img img {
    width: 40%;
    margin: 5px 10px 5px 0px ;
  }
  #container_posts .posts .contenues h3 {
    font-size: 20px !important;
  }
  #container_posts .posts .contenues .comments {
    margin: 15px 0px 0px 0px !important;
  }
  #container_posts .posts .contenues .comments i {
    font-size: small;
  }
  #container_posts .posts .contenues .comments a {
    margin: 0px 20px 0px 0px !important;
    font-size: 0.8rem !important;
    font-weight: 600;
  }
}
/* Mobile */
@media (max-width: 656px) {
  .container_command {
    padding: 0;
  }
  .container_command .Top {
    margin: 40px 30px !important;
  }
  #container_posts {
    margin: 0 10px !important;
  }
}
