.container_general {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 0px 0px 0px 0px;
  width: 93%;
  justify-content: space-around;
}
.container_general .menu_cat {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container_general .menu_cat li {
  padding: 15px 50px;
  background-color: #F2BF2C;
  font-weight: 600;
}
.container_general .menu_cat li:hover {
  background-color: #FFD867;
}
.container_general .container_amis {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-top: solid 5px #F2BF2C;
  filter: drop-shadow(3px 8px 5px rgba(0, 0, 0, 0.171));
  height: 400px;
}
.container_general #container_posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  justify-content: center;
  padding: 25px 0px;
}
.container_general #container_posts h1 {
  font-size: clamp(0.625rem, 2.2rem, 3rem);
  letter-spacing: 1px;
  margin: 22px 0px;
  width: -webkit-fill-available;
  color: #333333;
}
.container_general #container_posts h1 > span {
  font-weight: 200;
}
.container_general #container_posts .posts {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 98%;
  padding: 35px;
  margin: 16px 0px;
  background-color: #ffffff;
  filter: drop-shadow(3px 8px 5px rgba(0, 0, 0, 0.171));
}
.container_general #container_posts .posts .etiquette {
  position: absolute;
  top: 25px;
  right: -1.5%;
  background-color: #F2BF2C;
  padding: 2px 20px;
  font-weight: 600;
  color: #333333;
  font-size: 0.9rem;
}
.container_general #container_posts .posts figure {
  width: 20%;
}
.container_general #container_posts .posts figure img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.container_general #container_posts .posts .contenues {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: -webkit-fill-available;
  margin-left: 35px;
}
.container_general #container_posts .posts .contenues #contenues_img {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 10px 0px;
}
.container_general #container_posts .posts .contenues #contenues_img img {
  width: 30%;
  margin: 5px 10px 5px 0px;
}
.container_general #container_posts .posts .contenues p > span {
  font-weight: 200;
}
.container_general #container_posts .posts .contenues h3 {
  letter-spacing: 2px;
  font-weight: 200;
  text-transform: uppercase;
  margin: 0px 0px;
}
.container_general #container_posts .posts .contenues h3 > span {
  font-weight: 200;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  text-transform: none;
}
.container_general #container_posts .posts .contenues .colorP {
  color: #0BAA9F;
  font-size: 0.75rem;
  text-transform: none;
}
.container_general #container_posts .posts .contenues .comments {
  margin: 15px 0px 0px 0px;
}
.container_general #container_posts .posts .contenues .comments i {
  color: #314090;
  font-weight: 500;
}
.container_general #container_posts .posts .contenues .comments a {
  margin: 0px 30px 0px 8px;
  color: #314090;
  font-weight: 600;
  font-size: small;
}
.container_general #container_posts .container_com {
  background-color: #EFEFEF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 98%;
  padding: 25px 40px;
  margin: -14px 0px 0px 0px;
}
.container_general #container_posts .container_com input {
  width: 100%;
  height: 125px;
  border: solid 1px rgba(0, 0, 0, 0);
}
.container_general #container_posts .container_com button {
  color: #EFEFEF;
  border-radius: 5px;
  background-color: #29388D;
  padding: 4px 35px;
  border: solid 1px #29388D;
  margin: 15px 0px 15px 0px;
  transition: 0.3s;
}
.container_general #container_posts .container_com button:hover {
  scale: 1.05;
}
.container_general #container_posts .container_com h3 {
  width: 100%;
  margin: 15px 0px 0px 0px;
}
.container_general #container_posts .container_com .commentaire {
  background-color: #C4D4D3;
  display: flex;
  flex-direction: column;
  font-size: 0.5rem;
  border-radius: 10px;
  width: 65%;
  /* height: 80px; */
  justify-content: center;
  padding: 15px;
  margin: 10px 0px 15px 0px;
  text-align: left;
}
.container_general #container_posts .container_com .commentaire p {
  font-size: 0.76rem;
}
.container_general #container_posts .container_com .commentaire figure {
  display: flex;
}
.container_general #container_posts .container_com .commentaire figure img {
  border-radius: 50%;
  margin: 0px 10px 0px 0px;
  width: 35px;
  height: 35px;
}
.container_general #container_posts .container_com .com_box_droite {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.container_general #container_posts .container_com .com_box_droite .commentaire2 {
  background-color: #8EB0AF;
  display: flex;
  flex-direction: column;
  font-size: 0.5rem;
  border-radius: 10px;
  width: 65%;
  /* height: 80px; */
  justify-content: center;
  padding: 15px;
  text-align: left;
}
.container_general #container_posts .container_com .com_box_droite .commentaire2 p {
  font-size: 0.76rem;
}
.container_general #container_posts .container_com .com_box_droite .commentaire2 figure {
  display: flex;
}
.container_general #container_posts .container_com .com_box_droite .commentaire2 figure img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0px 10px 0px 0px;
}
